<h1>The coach's answer:</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
<!-- er -->

<%= @question %>
<br>
<%= "-You" %>
<br>
<br>
<%= @answer %>
<br>
<%= "-Your coach" %>

<br>
<br>

<%= link_to "Ask another question", "/ask" %>
